<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.currencyconversion">

    <application
        android:label="Test Application">
    </application>

    <instrumentation
        android:name="com.example.currencyconversion.viewModels.CustomTestRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for YourAppName"
        android:targetPackage="com.example.currencyconversion" />

</manifest>